<!-- Left Panel -->
<aside id="left-panel" class="left-panel">
  <nav class="navbar navbar-expand-sm navbar-default">
    <div id="main-menu" class="main-menu collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="active">
          <a href="{% url 'frontend:dashboard' %}"><i class="menu-icon fa fa-laptop"></i>Inicio </a>
        </li>
        <li class="menu-title">Panel de Administración</li><!-- /.menu-title -->
        <li>
          <a href="{% url 'frontend:sale' %}"> <i class="menu-icon ti-money"></i>Nueva Venta</a>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </nav>
</aside>
<!-- /#left-panel -->